:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  margin-top: 1rem;
  text-indent: 1rem;
}

.form-outer {
  min-width: 20rem;
  width: 35vw;
  top: 20vh;
}

.form-inner {
  margin-top: 1rem;
}

.form-input-field {
  width: 100%;
}

.form-login-button {
  margin-left: auto;
  margin-right: 0.5rem;
}