<!--suppress JSUnresolvedReference -->
<table mat-table [dataSource]="lockTypes" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Type id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="range-voltage">
    <th mat-header-cell *matHeaderCellDef>Voltage range</th>
    <td mat-cell *matCellDef="let element">{{element.batteryVoltageMin}} < X < {{element.batteryVoltageMax}}</td>
  </ng-container>

  <ng-container matColumnDef="range-csq">
    <th mat-header-cell *matHeaderCellDef>Cellular Signal Quality range</th>
    <td mat-cell *matCellDef="let element">{{element.cellularSignalQualityMin}} < X
      < {{element.cellularSignalQualityMax}}</td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button matTooltip="Edit lock type" [matTooltipShowDelay]="tooltipDelayShow" mat-icon-button
              (click)="openAddEditDialog(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="add-button-container">
  <button matTooltip="Add Lock Type" [matTooltipShowDelay]="tooltipDelayShow" (click)="openAddEditDialog()" mat-fab
          color="primary" aria-label="Button to add a new lock type">
    <mat-icon>add</mat-icon>
  </button>
</div>
