<div>
  <mat-toolbar color="primary" class="toolbar">
    <span>ShareABike</span>
    <div *ngIf="isLoggedIn">
      <a mat-button [routerLink]="'/'">Map</a>
      <a mat-button [routerLink]="'/list'">Lock list</a>
      <a mat-button [routerLink]="'/locktypes'">Lock types</a>
    </div>
    <span class="example-spacer"></span>
    <div *ngIf="isLoggedIn">
      <button (click)="logout()" mat-icon-button>
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>

<div *ngIf="!isLoggedIn; else elseBlock">
  <app-login></app-login>
</div>
<ng-template #elseBlock>
  <router-outlet></router-outlet>
</ng-template>
